.bgimg{
width:100%;
height:auto;
background-image: url("kerala.jpg");
}

.navbar{
width:100%;
height:40px;
background:none;

}
.navlogo{
width:50%;
height:100%;
float:left;
background:lightblue;


}
.navtitle{
font-size:40px;
text-decoration:none;
color:#fff;
margin:10px;
font-weight:bold;




}
.quicklink{
width:50%;
height:100%;
background:lightblue;
float:right;


}
.homelink{
color:white;
font-size:25px;
font-weight:bold;
margin:30px;
text-decoration:none;
}
.aboutlink{
color:white;
font-size:20px;
text-decoration:none;
margin:30px;
}
.contactlink{
color:white;
font-size:20px;
margin:30px;
text-decoration:none;
}
.maintitle{
width:100%;
height:400px;

}
.content{
background:#fff;
width:55%;
height:200px;
padding-left:45%;

}
.content2{
width:15%;
height:400px;
background:lightblue;
float:left;

}
.para2{
width:71%;
height:400px;
background:lightblue;
float:right;
font-weight:bold;
font-size:20px;
text-align:center;
}
.content3{
width:17%;
height:400px;
background:white;
float:left;

}
.para3{
width:71%;
height:400px;
background:white;
float:right;
font-weight:bold;
font-size:20px;
text-align:center;
}
.content4{
width:30%;
height:400px;
background:lightblue;
float:left;
}
.para1{
width:70%;
height:400px;
background:lightblue;
float:right;
font-weight:bold;
font-size:20px;
text-align:center;
}
.footer{
width:100%;
height:150px;
background:grey;
float:right;


}
.title{
text-align: center;
margin-top:200px;
font-weight:bold;
color:white;
font-size:80px;
}
.btn{
color:#fff;
margin-left: 48%;
padding-left:30px;
padding-right:30px;
padding-bottom:15px;
padding-top:15px;
background:lightblue;
font-weight:bold;
font-size:20px;
border-radius:20px;
border:none;


}
.copyright{
padding-top:40px;
color:white;
text-align:center;
font-weight:bold;
}
.form{
width:100%;
height:600px;
background:lightblue;
text-align:center;
padding-top:100px;
}
.box{
height:40px;
width:600px;
border-color:lightgrey;
border: 1px solid;

}
.box2{
height:200px;
border-color:lightgrey;
border: 1px solid;

width:600px;
}
.submit{
height:40px;
width: 80px;
background:#4CAF50;
color:white;
}
.aboutdiv{
height:600px;
width 100%;
background:lightblue;
font-weight:bold;
font-size:20px;
text-align:center;
padding-top:100px;
}
